<div class="jumbotron clf-jumbotron">
  <div class="d-flex justify-content-between align-items-center text-light">
    <div>
      <h1 class="display-4">Your Questions Answered</h1>
      <p class="lead">Your destination for finding the latest updates on legal firearms available for purchase in
        California!</p>
    </div>
    <div>
      <img src="assets/images/callegalthumbup.png" style="width: 12em">
    </div>
  </div>
  <hr class="my-4">
  <p class="text-light"><small>CA Legal Firearms is not a government entity. We strive to provide honest and accurate
      information provided
      directly from the DOJ. Always consult an attorney if you are unsure of the legality of the firearm you are
      planning on purchasing.</small></p>
</div>

<div class="btn-group w-100 mb-3" role="group">
  <button type="button" class="btn btn-dark disabled">View By:</button>
  <button type="button" class="btn btn-dark" [ngClass]="{active: selectedCategory === category}"
    *ngFor="let category of filterCategories"
    (click)="onShowFilteredCategory(category)">{{filterCategory[category]}}</button>
</div>

<div class="row" *ngIf="filteredList && filteredList.length > 0">
  <div class="col-md-4 text-center" *ngFor="let item of filteredList">
    <div (click)="onShowRefinedList(item)" style="cursor: pointer;">
      <img src="https://via.placeholder.com/100" /> <br>
      <label>{{item}}</label>
    </div>
  </div>
</div>

<ng-container *ngIf="refinedFilterList && refinedFilterList.length > 0">

  <div class="mb-3">
    Showing
    <select class="custom-select" style="width: 4em" (ngModelChange)="rebuildPaging($event)"
      [(ngModel)]="pagination.pageSize">
      <option *ngFor="let pageSize of pageSizeList" [ngValue]="pageSize">{{pageSize}}</option>
    </select>
    records of {{refinedFilterList.length}} total
  </div>

  <div class="card mb-2" *ngFor="let item of pagination.pageItems">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="https://via.placeholder.com/150" />
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <label>{{item.manufacturer}}</label> <br>
              <label>{{item.model}}</label> <br>
              <label>{{item.type}}</label>
            </div>
            <div class="col-md-6">
              <label>{{item.caliber}}</label> <br>
              <label>{{item.barrelLength}}</label> <br>
              <label>{{item.expirationDate}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>




<!-- <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="material-icons">search</i>
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchInput">
</div>

<div class="table-responsive">
  <table class="table table-striped clf-firearms-table-wrapper border">
    <thead class="w-100">
      <tr>
        <th class="text-nowrap clf-cursor-pointer" *ngFor="let column of displayedColumns" sortable-column
          (sortChanged)="onSortColumn(column)" [isActive]="column.isActive" [isReverse]="column.isReverse">
          {{column.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let firearm of firearms | searchTable : searchInput : searchableColumns">
        <td>{{firearm.manufacturer}}</td>
        <td>{{firearm.model}}</td>
        <td>{{firearm.type}}</td>
        <td>{{firearm.barrelLength}}</td>
        <td>{{firearm.caliber}}</td>
        <td>{{firearm.expirationDate}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
